<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>4km</title>
    <link rel="icon" href="{{url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css') }}"/>
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .entity {
            word-break: keep-all;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<div class="container-fluid p-0 h-100 d-flex flex-column">
    <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">新闻人物言论自动提取</a>
    </nav>

    <div class="row m-0 h-100">
        <div class="col h-100 border-right p-3">
            <div class="form-group d-flex flex-column h-100">
                <nav class="navbar navbar-light bg-light w-100">
                    <label for="input-text">请输入一段文字</label>
                    <button id="submit" class="btn btn-outline-success" type="submit">
                        &nbsp;提交
                    </button>
                </nav>
                <textarea class="form-control h-100" id="input-text"></textarea>
            </div>
        </div>
        <div class="col p-3 h-100">
            <div class="row">
                <div id="extract_table" class="col">
                    <!--
                    <table class="table table-striped table-responsive">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">人物</th>
                            <th scope="col">言论</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td class="entity">韩国⽹网友</td>
                            <td>不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然
                                不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然
                                不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然
                                不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td class="entity">雷先生</td>
                            <td>交警部门罚了他 16 次，他只认了一次，
                                交了一次罚款， 拿到法
                                院的判决书后，会前往交警队，要求撤销
                                此前的处罚。
                                交警部门罚了他 16 次，他只认了一次，
                                交了一次罚款， 拿到法
                                院的判决书后，会前往交警队，要求撤销
                                此前的处罚。
                                交警部门罚了他 16 次，他只认了一次，
                                交了一次罚款， 拿到法
                                院的判决书后，会前往交警队，要求撤销
                                此前的处罚。
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td class="entity">Larry</td>
                            <td>the Bird</td>
                        </tr>
                        </tbody>
                    </table>
                    -->
                </div>
                <div class="w-100 d-none d-md-block">
                    <hr class="my-4">
                </div>
                <div class="col">
                    <!-- 图谱 -->
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer font-small blue  border-top">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://github.com/4keyboardman/StandpointExtract"> 4keyboardman</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{url_for('static', filename='jquery.slim.min.js') }}"></script>
<script src="{{url_for('static', filename='popper.min.js') }}"></script>
<script src="{{url_for('static', filename='bootstrap.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
<script type=text/javascript>

    var txt = "近日，腾讯原副总裁吴军接受《头条有约》采访时表示，腾讯从来没有To B的基因。\n" +
        "吴军说道：“腾讯从来没有过ToB的基因。前些天还跟一些朋友讲就说他们，" +
        "做云计算的就一直堵在人家企业门口，甚至主动给人家企业先打个一百万进去，说你把数据迁移到我这里。发现他整个企业做这种服务是完全跟不上的，没有这个基因，" +
        "你不用想，就像恐龙想去冰河时代生活。腾讯是一个对社会真是没有危害的公司，但是你说要带给大家多少惊喜，微信之后的我也真说不出来。”\n" +
        "吴军称：“今天的谷歌，这是一个颇为平庸的公司。虽然它搞出了一些很亮眼的技术，但对人的帮助来讲，它远不像过去那么大。过去有它和没它，" +
        "世界是不一样的。就是说它最后一个对人类最大的贡献是安卓。在这安卓以后，说它又贡献了什么了不得的东西，我也想不出来对人（类）有关。它的管理很混乱，" +
        "最典型的就是它的云计算的策略，你可以看到，这中间的换人，权利的斗争等等这些东西，多少而且有点丑。谷歌之所以说有时候发展不行，" +
        "跟这个CEO（桑达尔˙皮查伊）平庸也有很大的关系。”\n" +
        "吴军表示：“百度从七八年前起，其实基本上已经属于一个僵化的公司了，已经没有希望了。" +
        "百度的二号人物永远是离职的。很多技术它都是起的大早，赶了个晚集。移动互联网时代它完全落伍了，可以讲完全不具有移动互联网的基因，" +
        "所以做这种转变没有任何意义。说句不好听的，已经没有希望了。说句不好听的，陆奇都救不了它，没人救得了它。这家公司已经基本是不属于我们平时关注的对象了。”\n" +
        "吴军，原腾讯副总裁。吴军也是当前Google中日韩文搜索算法的主要设计者。著有《数学之美》、《浪潮之巅》和《文明之光》等畅销书。\n" +
        "而吴军今天这样一番言论，有人认为说的好，很有道理，有人觉得吴军过于狂妄自大了。你们怎么看呢？";
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $(function () {
        var input_test = $('#input-text');
        input_test.val(txt);
        var submit = $('#submit');
        submit.click(function () {
            $.post($SCRIPT_ROOT + '/extract', {
                text: input_test.val()
            }, function (data) {
                $('#submit').html('&nbsp;提交&nbsp;');
                $('#extract_table').html(data)
            });
            spinner = '&nbsp;&nbsp;&nbsp;<div class="spinner-border spinner-border-sm" role="status">\n' +
                    '<span class="sr-only">Loading...</span>\n' +
                    '</div>&nbsp;&nbsp;&nbsp;';
            $('#submit').html(spinner);
            return false;
        });

        submit.click();
    });
</script>
</body>
</html>